html {
    font-size: 22px;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c", sans-serif;

    @media (width <= 600px) {
        font-size: 18px;
    }
}

body {
    margin: 0;
}

figure {
    display: block;
    margin: 0 auto;

    img {
        width: 100%;
        border-radius: 10px;
        border: solid 2px rgb(114, 59, 0);
    }
}

.main-bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url("img/warabiKing.jpg");
    background-repeat: repeat;
    background-size: 10rem 10rem;

    animation: scroll 16s linear infinite;
}

@keyframes scroll {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 10rem 0;
    }
}

.main-content {
    width: calc(100% - 6rem);
    margin: 1rem auto;
    padding: 2rem 2rem 1rem;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(2px);

    @media (width <= 600px) {
        width: calc(100% - 4rem);
        padding: 1rem 1rem 0.5rem;
    }

    header {
        h1 {
            margin-top: 0;
            figure {
                width: min(20rem, 60vw);
                height: min(20rem, 60vw);
            }
        }

        p a {
            color: rgb(114, 59, 0);
            font-weight: bold;
            /* text-decoration: none; */
        }
    }


    details summary h2 {
        display: inline;
        font-size: 1.2rem;
        font-weight: bold;
    }

    #map {
        width: min(30rem, 100%);
        margin-left: 0;

        @media (width <= 600px) {
            margin-left: auto;
        }
    }

    #menus {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;

        article {
            padding: 0.5rem;
            background-color: rgba(255, 255, 255, 0.9);
            border: solid 1px rgb(200, 150, 100);
            border-radius: 10px;

            h3 {
                margin-top: 0.5rem;
                border-left: solid 6px rgb(114, 59, 0);
                padding-left: 0.5rem;
            }

            figure {
                width: 80%;
            }

            p {
                border-top: 1px solid rgb(200, 150, 100);
                padding: 0.5rem;
                margin-bottom: 0;
            }
        }
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem 0;

    p {
        color: white;
        text-align: center;
        margin: 0;
    }
} 